
<a pButton label="Connexion" *ngIf="!isAuthenticated" icon="fas fa-sign-in-alt" routerLink="/login"></a>

<div class="navbar-account" *ngIf="isAuthenticated">

  <p-button >

    <ng-template pTemplate="content">
      <i class="fas fa-user" *ngIf="!user?.avatar"></i>
      <img [src]="user?.avatar || ''" alt="avatar" *ngIf="user?.avatar"/>
      <span>{{ user?.name || 'Username' }}</span>
    </ng-template>

  </p-button>

</div>
