<div class="modal" [class.is-active]="isActive">
  <div class="modal-background"></div>
  <div class="modal-content">
    <div class="modal-header">
      <h3 class="">{{title}}</h3>
    </div>
    <div class="modal-body">
      <ng-content></ng-content>
    </div>
  </div>
</div>

