<p-table [value]="forms">
  <ng-template pTemplate="header">
    <tr>
      <th colspan="5">Personnage</th>
      <th colspan="3">Aptitudes</th>
      <th colspan="3">Arme</th>
      <th></th>
    </tr>
    <tr>
      <th>Nom</th>
      <th>Lvl</th>
      <th>Affinité</th>
      <th>Element</th>
      <th>Constellations</th>
      <th>N&C</th>
      <th>E</th>
      <th>Ulti</th>
      <th>Nom</th>
      <th>Lvl</th>
      <th>Raf</th>
      <th>Actions</th>
    </tr>
  </ng-template>

  <ng-template pTemplate="body" let-form>
    <tr [formGroup]="form" class="form-row" [class]="getRowClass$(form.value) | async" data-form-row>
      <td class="name">
        <p-image [src]="'assets/img/characters/' + (getCharacterById(form.value.character.id)?.name | lowercase) + '.png'"
                 [alt]="form.value.name" width="40">
        </p-image>
      </td>
      <td>
        <input pInputText class="p-inputtext-sm" type="text" formControlName="level">
      </td>
      <td>
        <div class="form-field select is-small">
          <p-dropdown [options]="[1,2,3,4,5,6,7,8,9,10]" formControlName="affinity"></p-dropdown>
        </div>
      </td>
      <td class="element">
        <p-image [src]="'assets/img/elements/' + getCharacterById(form.value.character.id)?.element + '.png'"
                 [alt]="form.value.element" width="40">
        </p-image>
      </td>
      <td>
        <div class="form-field select is-small">
          <p-dropdown [options]="['0',1,2,3,4,5,6]" formControlName="constellations"></p-dropdown>
        </div>
      </td>
      <td>
        <div class="form-field select is-small">
          <p-dropdown [options]="[1,2,3,4,5,6,7,8,9,10]" formControlName="attackSkillLevel"></p-dropdown>
        </div>
      </td>
      <td>
        <div class="form-field select is-small">
          <p-dropdown [options]="[1,2,3,4,5,6,7,8,9,10]" formControlName="elementarySkillLevel"></p-dropdown>
        </div>
      </td>
      <td>
        <div class="form-field select is-small">
          <p-dropdown [options]="[1,2,3,4,5,6,7,8,9,10]" formControlName="burstSkillLevel"></p-dropdown>
        </div>
      </td>
      <td class="name"></td>
      <td></td>
      <td></td>
      <td class="actions">
        <p-button label="" icon="fas fa-edit" [disabled]="!form.value.isEdited" (click)="updateCharacter(form.value)">
        </p-button><!--
          <button *ngIf="character._id" class="button is-danger" (click)="delete(character._id)">
            <span class="icon is-small"><i class="fas fa-trash"></i></span>
          </button>-->
      </td>
    </tr>
  </ng-template>
</p-table>
