<div class="page-header">
  <h3 class="title">Personnages</h3>
</div>

<div class="page-content">

  <div class="page-section">
    <p-table [value]="(collection$ | async) || []" styleClass="p-datatable-sm">
      <ng-template pTemplate="header">
        <tr>
          <th></th>
          <th>Nom</th>
          <th>Rareté</th>
          <th>Element</th>
          <th>Type d'arme</th>
          <th>Actions</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-character>
        <tr>
          <td>
            <p-image class="character-img" [src]="'assets/img/characters/' + (character.name | lowercase)  + '.png'" alt=""></p-image>
          </td>
          <td>
            {{character.name}}
          </td>
          <td>
            <img class="rarity-img" [src]="'assets/img/stars/' + character.rarity + '_stars.png'" alt="">
          </td>
          <td>
            <img class="element-img" [src]="'assets/img/elements/' + character.element + '.png'" alt="">
          </td>
          <td>
            <img class="weapon-img" [src]="'assets/img/weapons-types/' + character.weaponType + '.png'" alt="">
          </td>
          <td class="actions">
            <button class="p-button is-link" (click)="updateMode(character)">
              <span class="icon is-small"><i class="fas fa-edit"></i></span>
            </button><!--
            <button *ngIf="character._id" class="button is-danger" (click)="delete(character._id)">
              <span class="icon is-small"><i class="fas fa-trash"></i></span>
            </button>-->
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>

  <div class="page-section">
    <h4 class="title" *ngIf="!isUpdating">Ajouter un personnage</h4>
    <h4 class="title" *ngIf="isUpdating">Editer un personnage</h4>

    <form class="form" [formGroup]="form">

      <div class="field">
        <label class="label">Nom</label>
        <input pInputText type="text" class="p-inputtext-sm" formControlName="name" name="character.name">
      </div>

      <div class="field">
        <label class="label">Rareté</label>
        <p-dropdown [options]="rarityValues" formControlName="rarity"></p-dropdown>
      </div>

      <div class="field is-grouped">
        <label class="label">Type d'arme</label>
        <ng-container *ngFor="let weaponType of weaponTypeValues">
          <button pButton class="p-button-text" (click)="selectWeaponType(weaponType)" [class.p-button-raised]="weaponType == form.value.weaponType" >
            <span class="icon">
              <img [src]="'assets/img/weapons-types/' + weaponType + '.png'">
            </span>
          </button>
        </ng-container>
      </div>

      <div class="field is-grouped">
        <label class="label">Element</label>
        <ng-container *ngFor="let element of elementValues">
          <button pButton class="p-button-text" (click)="selectElement(element)" [class.p-button-raised]="isElement(element)">
            <span class="icon">
              <img [src]="'assets/img/elements/' + element + '.png'">
            </span>
          </button>
        </ng-container>
      </div>

      <div class="field">
        <button class="p-button is-link" (click)="submit()" *ngIf="!isUpdating">Ajouter</button>
        <button class="p-button is-link" (click)="submit()" *ngIf="isUpdating">Editer</button>
      </div>

    </form>
  </div>

</div>
