@import 'layouts/navbar';
@import 'layouts/menu';
@import 'layouts/page';
@import 'layouts/form';
@import 'layouts/modal';
@import 'layouts/loader';
@import 'layouts/table';

html {
  overflow: hidden;
}

button {
  outline: none;
  box-shadow: none;
}

.app {
  position: fixed;
  display: flex;
  flex-wrap: wrap;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
