@import '../../node_modules/bulma/sass/utilities/initial-variables';


$blue: #00AFF0;
$darkBlue: #0077a3;

$aside-tool-bg-color: $blue;

$menu-bg-color: #2B333E;
$menu-bg-color-hover: #252c35;
$menu-bg-color-header: #20262f;
$menu-fg-color: #AEB7C2;
$menu-fg-color-hover: #fff;
$menu-fg-color-header: #7b8a9c;

$page-bg-color: #ECF0F5;
$page-header-bd-color: #e4e4e4;
