<div class="app" [class.is-compact]="(state$ | async).isMenuCompact">

  <app-navbar (home)="onHomeClick()"></app-navbar>
  <app-menu></app-menu>

  <main class="page">
    <router-outlet></router-outlet>
  </main>

  <p-dialog class="loader" [visible]="isLoading$ | async">
    <div class="loader-box flex flex-column align-items-center justify-content-center h-full">
      <h1>Salut les amis</h1>
      <h1>J'arrive bientôt ;)</h1>
      <p-image src="assets/img/loading.png" alt="Loading" width="150"></p-image>
      <p-progressBar mode="indeterminate" class="w-9"></p-progressBar>
    </div>
  </p-dialog>

</div>
