<div class="login">

  <h1 class="text-4xl text-center">CONNEXION</h1>

  <p-button (click)="onSubmit()" styleClass="p-button-rounded p-button-outlined">
    <ng-template pTemplate="content">
      <img alt="logo" src="assets/social/google.png" style="width: 1.5rem"/>
      <span>Se connecter avec Google</span>
    </ng-template>
  </p-button>

</div>
