:host {
  width: 100%;
}

.login {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 50%;
  margin: 50px auto;

  h1 {
    font-family: Audiowide;
  }

  p-button {
    span {
      height: 24px;
      margin-left: 10px;
    }
  }
}
