<nav class="navbar">

  <button class="navbar-menu" pButton icon="fas fa-bars" (click)="onMenuClick()"></button>
  <button class="navbar-brand" pButton label="GENSHIN ASSISTANT"></button>

  <div class="navbar-items flex flex-1 justify-content-end">
    <div class="navbar-start"></div>
    <div class="navbar-end">
      <app-navbar-account [user]="(user | async)" [isAuthenticated]="isAuthenticated | async"></app-navbar-account>
    </div>
  </div>

</nav>
