.loader {

  .p-dialog {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    width: 100%;
    height: 100%;
    max-height: 100%;

    &-header {
      display: none;
    }

    &-content {
      padding: 64px;
      background-color: rgba($color: #000000, $alpha: 0.6);

      p-image {
        margin-bottom: 20px;
      }
    }
  }

  &-box {
    background-color: $menu-bg-color;
    border-radius: 10px;

    h1 {
      font-family: Audiowide;
      color: white;
    }
  }

}
