.p-menu {
  width: 280px;
  height: 100%;
  background-color: $menu-bg-color;
  z-index: 40;
  padding: 0;
  border: 0;
  border-radius: 0;

  .app.is-compact & {
    width: auto;
  }
}

.p-submenu-header {
  color: $menu-fg-color-header !important;
  background-color: $menu-bg-color-header !important;

  .app.is-compact & {
    display: none;
  }
}

.p-menuitem-link {
  outline: none !important;
  box-shadow: none !important;

  &:hover {
    color: $menu-fg-color-hover !important;
    background-color: $menu-bg-color-hover !important;
  }

  &.p-menuitem-link-active {
    &::before {
      background-color: $blue;
      content: "";

      display: block;
      height: 24px;
      width: 3px;

      position: absolute;
      left: 0;
      top: 8px;
    }
  }

  .app.is-compact & {
    text-align: center;
  }
}

.p-menuitem-text {
  color: $menu-fg-color !important;

  .app.is-compact & {
    display: none;
  }
}

.p-menuitem-icon {
  width: 10%;

  .app.is-compact & {
    margin: 0;
    width: 100%;
  }
}




.aside-menu {

  /*
  .menu-label {
    @include touch {
      display: none;

      .app.is-expanded & {
        display: block;
      }
    }
  }

  .menu-item-label {
    padding-left: 8px;

    /*
    @include desktop {

    }

    @include touch {
      display: none;

      .app.is-expanded & {
        display: inline-flex;
      }
    }

  }*/

  .icon, .menu-item-label {
      padding: 8px;
  }
}
