
.p-dialog {

  &-header {
    background-color: $darkBlue !important;
    color: #fff !important;

    &-close-icon {
      color: #fff !important;
    }
  }

  &-content {
    padding: 24px !important;
    background-color: $menu-bg-color !important;
  }

  &-footer {
    background-color: $menu-bg-color !important;
    color: #fff !important;
  }
}
