
.navbar {
  display: flex;
  height: 100%;
  width: 100%;
  z-index: 30;
  margin: 0 !important;
  background-color: $darkBlue;

  a {
    text-decoration: none;
  }

  .p-button {
    height: 100%;
    border: none !important;
    border-radius: 0 !important;
    box-shadow: none !important;
    background-color: transparent;
  }
}

.navbar-menu {
  background-color: $blue !important;
  width: 52px !important;
}

.navbar-brand {
  border: none;
  background-color: $blue !important;
  font-family: Audiowide;

  &:hover {
    background-color: $darkBlue !important;
  }
}

.navbar-end {
  height: 100%;

  .p-button:hover {
    background-color: $blue !important;
  }
}

.navbar-account {
  height: 100%;

  img {
    width: 32px;
    border-radius: 50%;
    margin-right: 10px;
  }
}





/*.navbar-brand {
  background-color: $blue;
  color: white;
  align-items: center!important;
  display: flex;
  height: 52px;
  width: 280px;

  /*
  @include desktop {
    .app.is-compact & {
      width: 52px;
    }
  }

  @include touch {
    width: 52px;

    .app.is-expanded & {
      width: 280px;
    }
  }


  button {
    width: 52px;
    height: 52px;
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;

    &:hover {
      background-color: $darkBlue;
    }

    &:focus {
      outline: none;
    }
  }
}

.navbar-brand-label {
  padding-left: 8px;
  font-size: 16px;
  font-family: Audiowide;

  /*
  @include desktop {
    .app.is-compact & {
      display: none;
    }
  }

  @include touch {
    display: none;

    .app.is-expanded & {
      display: flex;
    }
  }

}

.navbar-item {
  color: white;
}*/
