.page {
  flex: 1;
  height: calc(100% - 52px);
  position: relative;
  overflow-y: auto;

  background-color: $page-bg-color !important;

  & > * {
    display: flex;
    flex-wrap: wrap;
  }
}

.page-header {
  display: flex;
  width: 100%;

  margin: 12px;
  border-bottom: 1px solid $page-header-bd-color;

  .title {
    padding: 12px;
    font-size: 22px;
    font-family: Audiowide;
    text-transform: uppercase;
  }
}

.page-content {
  width: 100%;
  margin: 12px;
}

.page-section {
  background-color: #fff;

  padding: 16px;
  margin-bottom: 16px;
  width: 100%;

  .title {
    font-size: 18px;
  }
}


