<div class="page-header">
    <h3 class="title">Résumé</h3>
</div>

<div class="page-content">

  <p-toolbar>
    <div class="p-toolbar-group-left">
      <p-button label="Ajouter" icon="fas fa-plus" (click)="openModal()" data-add-btn></p-button>
    </div>

    <p-dialog header="Ajouter un Personnage" [(visible)]="isModalOpened" [class.isVisible]="isModalOpened">
      <div class="characters-list">
        <ng-container *ngFor="let character of characters$ | async">
          <ng-container *ngIf="!hasCharacter(character)">
            <div class="character" [class.is-selected]="selected === character" (click)="selectCharacter(character)">
              <p-image [src]="'assets/img/characters/' + (character.name | lowercase) + '.png'"></p-image>
            </div>
          </ng-container>
        </ng-container>
      </div>

      <ng-template pTemplate="footer">
        <p-button icon="pi pi-check" (click)="addCharacter(selected)" label="Ajouter" styleClass="p-button-success" [class.is-active]="this.selected"></p-button>
      </ng-template>
    </p-dialog>

    <div class="p-toolbar-group-right">
      <p-button label="Mode Couleur" icon="fas fa-plus" (click)="summaryState.toggleColorMode()" data-coloured-btn></p-button>
    </div>
  </p-toolbar>

  <app-user-characters-list [userCharacters]="userCharacters$ | async"></app-user-characters-list>

</div>



