.characters-list {
  display: flex;
  flex-wrap: wrap;
}

.character {
  margin: 0 5px;

  &.is-selected {
    border: 2px solid #000;
  }
}

.row-color-pyro {
  background-color: #ee5144 !important;
}

.row-color-hydro {
  background-color: #5ea2fa !important;
}

.row-color-anemo {
  background-color: #98e0b5 !important;
}

.row-color-electro {
  background-color: #cf87ff !important;
}

.row-color-cryo {
  background-color: #b4f7ff !important;
}

.row-color-geo {
  background-color: #fbbc04 !important;
}
