@import 'styles/mixins';
@import 'styles/variables';
//@import '../node_modules/bulma/bulma';
@import 'styles/fonts';

@import 'styles/layout';

body {
  width: 100%;
  font-family: Roboto;
}

/*
.table {
  td, th {
    border: 1px solid #dfdfdf !important;
  }

  td {
    padding: 0;
  }

  .select, .input {
    border: none;
  }
}

.drop-container .input {
  display: none;
}

.test {
  width: 100%;
}

@mixin test {
  @extend
}
*/
