<div class="page-header">
  <h3 class="title">Armes</h3>
</div>

<div class="page-content">

  <div class="page-section">
    <p-table [value]="(collection$ | async) || []" styleClass="p-datatable-sm">
      <ng-template pTemplate="header">
        <tr>
          <th></th>
          <th>Nom</th>
          <th>Rareté</th>
          <th>Type d'arme</th>
          <th>Actions</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-weapon>
        <tr>
          <td>
            <p-image class="character-img" [src]="'assets/img/weapons/' + (weapon.name | lowercase) + '.png'" alt=""></p-image>
          </td>
          <td>
            {{ weapon.name }}
          </td>

          <td>
            <p-image class="rarity-img" [src]="'assets/img/stars/' + weapon.rarity + '_stars.png'" alt=""></p-image>
          </td>
          <td>
            <p-image class="weapon-img" [src]="'assets/img/weapons-types/' + weapon.type+ '.png'" alt=""></p-image>
          </td>
          <td>
            <button class="p-button is-link" (click)="updateMode(weapon)">
              <span class="icon is-small"><i class="fas fa-edit"></i></span>
            </button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>

  <div class="page-section">
    <h4 class="title" *ngIf="!isUpdating">Ajouter une arme</h4>
    <h4 class="title" *ngIf="isUpdating">Editer une arme</h4>

    <form class="form" [formGroup]="form">

      <div class="field">
        <label class="label">Nom</label>
        <input pInputText type="text" class="p-inputtext-sm" formControlName="name" name="weapon.name">
      </div>

      <div class="field">
        <label class="label">Rareté</label>
        <p-dropdown [options]="rarityValues" formControlName="rarity"></p-dropdown>
      </div>

      <div class="field is-grouped">
        <label class="label">Type d'arme</label>
        <ng-container *ngFor="let type of weaponTypeValues">
          <button pButton class="p-button-text" (click)="selectWeaponType(type)" [class.p-button-raised]="type == form.value.type">
            <span class="icon">
              <img [src]="'assets/img/weapons-types/' + type + '.png'">
            </span>
          </button>
        </ng-container>
      </div>

      <div class="field">
        <div class="control">
          <button class="p-button is-link" (click)="submit()" *ngIf="!isUpdating">Ajouter</button>
          <button class="p-button is-link" (click)="submit()" *ngIf="isUpdating">Editer</button>
        </div>
      </div>

    </form>
  </div>
</div>
